{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1> post Details </h1>

    <div class="offset-3 col-4"></div>
    <div class="card" style="width: 18rem;">

        <img src="{{url_for('uploaded_file',filename=post.image)}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <div class="row">
                <a href="{{url_for('posts.index')}}" class="btn btn-info">Back</a>
                
            </div>
        </div>
    </div>
</div>


{% endblock body %}